.paragraph {
font-family: 'Montserrat', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.socmed {
	margin: 5px;
}

#yelp {
	position: center;
}

#hightlight {
	color: #8FBC8F;
}